* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/



#container {
    display: flex;
}

#onlyForTheBackground {
    background-color: black; /*Bonus*/
}

/*Lightbulb*/

#spenta {
    margin-left: 41px;
}

#accesa {
    display: none;
    margin-right: 41px;
}

/*Button*/

#bottone {
    height: fit-content;
    align-self: flex-end;
    padding-inline: 5px;
}