* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/

.container {
    display: flex;
}

/*Lightbulb*/

#spenta {
    padding-left: 41px;
}

#accesa {
    display: none;
    padding-right: 41px;
}

/*Button*/

#bottone {
    height: fit-content;
    align-self: flex-end;
    padding-inline: 5px;
}